@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;

}

.text-view {
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    background: #e4e3e3;

}

.adder {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 50px;
}

textarea {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    font-family: 'Poppins', sans-serif;

}

.text-xxl {
    width: 498px;
}

.text-xl {
    width: 447px;
}

.text-lg {
    width: 404px;
}

/* .text-md {
    width: 100%;
    height: 300px;
} */